.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
}

.app_main_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.two_colums {
  display: flex;
  flex-direction: row;
}