.header {
  width: 100%;
  background: var(--background);
}

.navigation_container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px 0;
  justify-content: space-between;
}

.navigation {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.navigation__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navigation__item_inactive {
  color: var(--text-inactive-color);
}